---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Stars from "../components/Stars.vue";
---

<Layout title="Error 404">
	<main>
		<div class="wrapper mt4 mb4">
			<h1>Page Not Found</h1>
			<p>Not found</p>
		</div>
	</main>
</Layout>

<style>
	
</style>
